/* line 7, Y:\campbutanocreek\v2\less\butano.less */
@media -sass-debug-info{filename{font-family:file\:\/\/Y\:\/campbutanocreek\/v2\/less\/butano\.less}line{font-family:\000037}}
.text-muted {
  color: #248f40;
}
/* line 11, Y:\campbutanocreek\v2\less\butano.less */
@media -sass-debug-info{filename{font-family:file\:\/\/Y\:\/campbutanocreek\/v2\/less\/butano\.less}line{font-family:\0000311}}
.row.marketing p {
  height: 150px;
}
/* line 15, Y:\campbutanocreek\v2\less\butano.less */
@media -sass-debug-info{filename{font-family:file\:\/\/Y\:\/campbutanocreek\/v2\/less\/butano\.less}line{font-family:\0000315}}
.nav a {
  color: #00bf32;
}
/* line 20, Y:\campbutanocreek\v2\less\butano.less */
@media -sass-debug-info{filename{font-family:file\:\/\/Y\:\/campbutanocreek\/v2\/less\/butano\.less}line{font-family:\0000320}}
.nav-pills > li.active > a {
  background-color: #007c21;
}
/* line 24, Y:\campbutanocreek\v2\less\butano.less */
@media -sass-debug-info{filename{font-family:file\:\/\/Y\:\/campbutanocreek\/v2\/less\/butano\.less}line{font-family:\0000324}}
.random-photo {
  float: left;
  padding-right: 20px;
  padding-top: 10px;
}
/* line 30, Y:\campbutanocreek\v2\less\butano.less */
@media -sass-debug-info{filename{font-family:file\:\/\/Y\:\/campbutanocreek\/v2\/less\/butano\.less}line{font-family:\0000330}}
.random-photo-right {
  float: right;
  margin-left: 50px;
  padding-top: 10px;
}
/* line 36, Y:\campbutanocreek\v2\less\butano.less */
@media -sass-debug-info{filename{font-family:file\:\/\/Y\:\/campbutanocreek\/v2\/less\/butano\.less}line{font-family:\0000336}}
.carousel-inner > .active {
  margin-left: 25%;
}
/* line 40, Y:\campbutanocreek\v2\less\butano.less */
@media -sass-debug-info{filename{font-family:file\:\/\/Y\:\/campbutanocreek\/v2\/less\/butano\.less}line{font-family:\0000340}}
dd {
  margin-bottom: 10px;
}
